<div class="row">
	<d   <p>2014 QBlue&trade; Generators are the first generators designed for the RV industry. This isn't just a generator that "can" be used with an RV, this is "the" generator for your RV.</p>
   <p>QBlue&trade; takes the fuel efficiency and load capacity you expect from a "regular" generator, and adds the lowest weight and decibel levels with specialized features tailored to Boliy&trade; customer requests.</p>
