<p><b>Q: I have a blue Boliy&trade; 3600 SI or Boliy&trade; 3600 SI/E generator, what&apos;s the difference between my generator and the QBlue&trade; by Boliy&trade;?</b></p>
<blockquote>A: The QBlue&trade; is the 2014 Boliy&trade;.  You&apos;ll notice many of the great features on the QBlue&trade;  that you already appreciate in your existing model. You can still use the contact information on this site for support, and all the technical information and manuals still apply.</blockquote>

<p><b>Q: I've seen both QBlue Boliy&trade; Generators and red Boliy&trade; Generators - what's the difference?</b></p>

<blockquote>A: Custom blue Boliy&trade; generators, like QBlue&trade; are distributed by Boliy&trade; USA, and designed to Boliy&trade; USA specifications.<br/> 
 For <a href="$seourl.encodeURL("storeitem.html?vid=$vendorSettingsDTO.vendorId&cid=23139")"  alt="Boily History">  more information on Boliy&trade; USA and QBlue&trade; generators, </a></blockquote>

<p><b>Q: Where should I call for service?</b></p>
<blockquote>A: 1-877-407-1457</blockquote>

<p><b>Q: What kind of oil should I use in my Boliy&trade; Generator ?</b></p>
<blockquote>A: It depends on the air temperature. In warmer climates use 10W-30, in cooler climates use 5W-30.</blockquote>

<p><b>Q: Do I need to use fuel additives?</b></p>
<blockquote>A: Yes. Use a continual fuel treatment to fight the problems associated with ethanol fuels.</blockquote>

<p><b>Q:How do I prepare my generator for extended storage?</b></p>
<blockquote>A:If you plan to store your generator for more than 30 days, completely drain the fuel system. This includes the fuel tank, fuel lines and the carburetor.</blockquote>

<p><b>Q: Can I use E85 gasoline in my Boliy&trade; Generator?</b></p>
<blockquote>A: <b>NO</b>. Use of E85 fuel will damage the unit and void the warranty.</blockquote>

<p><b>Q: What kind of gasoline should I use in my Boliy&trade; Generator?</b></p>
<blockquote>A: Use only Regular Unleaded 87 octane gasoline. Use of other fuel types, including E85, will void manufacturer's warranty.</blockquote>

<p><b>Q: Can I service my Boliy&trade; Generator myself without voiding the warranty?</b></p>
<blockquote>A: Yes, as long as you call in and receive authorization from one of our technicians.</blockquote>

<div class="panel">
   <p> If you have any questions about the service or maintenance of your Boliy&trade; generator, <a href="$seourl.encodeURL("storeitem.html?vid=$vendorSettingsDTO.vendorId&cid=23145")"  alt="Boily User Manual">consult the Boliy&trade; manual</a>.</p>  

   <h4>Still stuck?</h4> 
   <p> Please contact us. We want to help you. Whether it means making a better website, a better manual, or better generator, your feedback is our best resource.</p>
</div>

