<div class="row">
	<div class="large-12 columns">
	   <h3>QBlue&trade; by Boliy&trade; USA</h3>
	   <p> QBlue&trade; 3600 Generators are sold exclusively by Boliy&trade; USA. They have been designed to meet the unique standards of the RV and outdoor enthusiast. Boliy&trade; USA began in 2007. From the first generation of 3600SI generators, Boliy&trade; USA has been committed to creating and developing high quality, efficient generators at the lowest possible cost. <br/>
		Customer feedback gave Boliy&trade; USA the opportunity to advance its products; offering increasingly efficient, quiet and reliable generators with new features. Boliy&trade; USA generators underwent constant refinement based on research, development, and technology advances. These refinements led to the 2014 QBlue&trade; series of generators, which include pull-start, electric, and remote electric start models. Q-Blue&trade; generators were conceived to fit the unique needs of the RV industry: more peak power, increased fuel economy, and reduced noise.</p>
	</div>
	
	<div class="large-12 columns">
	   <h3>Boliy&trade; Power</h3>
	   <p> Boliy&trade; USA is a branch of Boliy&trade; Power - an international power systems company with research and development facilities in China and trade relationships throughout Asia, the Middle East, Australia, Europe, and North America. Boliy&trade; Power develops and manufactures emergency power systems, including inverter generators, wind generators, and water pumps.<br/>
		Established in 1996, this high-tech enterprise focuses on product research, development and manufacturing. Boliy&trade; Power is affiliated with a company with strong roots in molding and metal machining that provides parts for companies like Panasonic&reg; and Phillips&reg;.The R&amp;D center and production facilities have a building area of 65,000 square feet on 3 acres of land.<br/>
		Boliy&trade; inverter generators have been the company&apos;s leading products. Boliy&trade; is fully certified in ISO 9001 and ISO 14000 Systems, and has passed CARB, CE, EPA2012, E-MARK (Stage Two), and EMC tests. Boliy&trade; Power produces the best and most reliable generators in the world. Boliy&trade; inverter generators are powerful, quiet, lightweight and efficient, challenging and exceeding Honda&reg; and Yamaha&reg; standards while providing the most value in their class.
	   </p>
   </div>
</div>
