<div class="row">
	<div class="large-12 columns">
	
		<div>
			<img src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/images/ads/QBlue3700sier-ad-large.jpg" title="Boliy the RVers Choice" />
		</div>
		
		<div class="panel">
			<div class="row">
			<!--	<h3>headline</h3> -->
				<div class="large-9 columns">
				   <p>2014 QBlue&trade; Generators are the first generators designed for the RV industry. This isn't just a generator that "can" be used with an RV, this is "the" generator for your RV.</p>
				   <p>QBlue&trade; takes the fuel efficiency and load capacity you expect from a "regular" generator, and adds the lowest weight and decibel levels with specialized features tailored to Boliy&trade; customer requests.</p>
				</div>
				<div class="large-3 columns">
					<a href="where-to-buy/" class="radius button right"> Where to Buy </a>
				</div>
			</div>
		</div>
		
	</div>
</div>

