<p> We&apos;ve tried to provide comprehensive, clear manuals. If you have any questions or feedback, please call us at <b>(877)407-1457</b> <em>(M-F 8am-5pm CST)</em> or <a href="mailto:boliyusasales@gmail.com?subject=Boliy Manual Questions"> Send us an email</a>. We want to make using a QBlue&trade; generator an easy part of your trip.</p>

<p> Boliy&trade; USA designed this product for the RV industry. That means it&apos;s designed for anyone to use, whether you&apos;ve been using generators for years, or the QBlue&trade; is your first. We want our manuals to be straightforward and easy to understand. Let us know how we can help you and how we can improve - because Boliy&trade; USA doesn't think you should overthink your vacation.<p>

<div class="panel">
	<ul class="ypdf">
		<li class="ypdf"> <a target="_blank" title="Boliy User's Manual" 
			href="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/downloads//Boliy_Book-2013.pdf"> 
                Boliy Generator Owners Manual ( rev.2013) </a></li>
		<li class="ypdf"><a target="_blank" title="Boliy Quick Start" 
			href="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/downloads//GeneratorQuickStartGuide-Boliy.pdf"> 
                Operator’s Quick Start Guide </a></li>
	</ul>
</div>


