
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_header.vm")
		#set($pageURI = "store.html")
		
		#macro ( hrefNewParameter $paramName $paramValue )
		#set($hrefString = "${pageURI}?")
		#if($request.getParameterMap().size()>0)
		    #foreach($parName in $request.getParameterNames())
		        #foreach($parVal in $request.getParameterValues($parName))
		            #if(!$parName.equals($paramName) && $hrefString.indexOf("${parName}=${parVal}")<0)
		                #set($hrefString = "${hrefString}${parName}=${parVal}&")
		            #end
		        #end
		    #end
		#end
		#set($hrefString = "${hrefString}${paramName}=${response.encodeURL($paramValue)}")
		$hrefString
		#end

		#macro ( hrefNewRangeParameter $param1Name $param1Value $param2Name $param2Value)
		#set($hrefString = "${pageURI}?")
		#if($request.getParameterMap().size()>0)
		    #foreach($parName in $request.getParameterNames())
		        #foreach($parVal in $request.getParameterValues($parName))
		            #if(!$parName.equals($param1Name) && !$parName.equals($param2Name) && $hrefString.indexOf("${parName}=${parVal}")<0)
		                #set($hrefString = "${hrefString}${parName}=${parVal}&")
		            #end
		        #end
		    #end
		#end
		#set($tempMax = "${param2Value}")
		#set($hrefString = "${hrefString}${param1Name}=${response.encodeURL($param1Value)}&${param2Name}=${response.encodeURL($tempMax)}")
		$hrefString
		#end

		#macro ( formParameters $param1Name $param2Name)
		#set($hrefString = "")
		#if($request.getParameterMap().size()>0)
    		#foreach($parName in $request.getParameterNames())
        		#set($oriv="")
		        #foreach($parVal in $request.getParameterValues($parName))
		            #if($oriv=='' || $oriv!=$parVal)
		                #set($oriv=$parVal )
		                    #if(!$parName.equals($param1Name) && !$parName.equals($param2Name))
		                        #set($hrefString = "${hrefString}
		<input type=hidden name=${parName} value='${parVal}'>
		")
		                    #end
		            #end
		        #end
		    #end
		#end
		$hrefString
		#end

		#macro ( hrefRemoveParameter $paramName )
		#set($hrefString = "${pageURI}?")
		#if($request.getParameterMap().size()>0)
		    #foreach($parName in $request.getParameterNames())
		        #foreach($parVal in $request.getParameterValues($parName))
		            #if(!$parName.equals($paramName) && $hrefString.indexOf("${parName}=${parVal}")<0)
		                #set($hrefString = "${hrefString}${parName}=${parVal}&")
		            #end
		        #end
		    #end
		#end
		$hrefString
		#end

		#macro ( hrefRemoveRangeParameter $param1Name $param2Name )
		#set($hrefString = "${pageURI}?")
		#if($request.getParameterMap().size()>0)
		    #foreach($parName in $request.getParameterNames())
		        #foreach($parVal in $request.getParameterValues($parName))
		            #if(!$parName.equals($param1Name) && !$parName.equals($param2Name) && $hrefString.indexOf("${parName}=${parVal}")<0)
		                #set($hrefString = "${hrefString}${parName}=${parVal}&")
		            #end
		        #end
		    #end
		#end
		$hrefString
		#end

		#if($request.isSecure())
		    #if ($request.getServerPort() ==443)
		        #set ($baselink = "https://$request.getServerName()$request.getContextPath()/")
		    #else
		        #set ($baselink = "https://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
		    #end
		    #else
		        #if ($request.getServerPort() ==80)
		            #set ($baselink = "http://$request.getServerName()$request.getContextPath()/")
		        #else
		            #set ($baselink = "http://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
		    #end
		#end

		#if (!$pageTileDictionaryDTO)
			#if ($_commandName)
				#springBind( "${_commandName}.pageTileDictionaryDTO" )
				#set ($pageTileDictionaryDTO = ${status.value})
			#end
		#end

		#if ($pageTileDictionaryDTO)
			#set ($vCatsCategoryDTO=$pageTileDictionaryDTO.getPageTile("vCatsCategoryDTO") )
		#end

		#if(($multiPageViews) && ($__virtualCategory))
			#set($itemMultiPageView = $multiPageViews.get($__virtualCategory.getPageTileName()))
		#end

		#if (!$direction) #set($direction = $regExp.getParamFromURL($itemMultiPageView.multiPageURL, 'direc'))  #end
			#if (!$mpvp&&$itemMultiPageView&&$itemMultiPageView.currentPageIndex)
				#set($mpvp = $itemMultiPageView.currentPageIndex)
			#else
				#set($mpvp = "")
			#end

				#set($catid = $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'categoryid'))
				#set($metadescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metadescription'))
				#set($metakeywords= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metakeywords'))
				#set($pagetitle= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'pagetitle'))
				#set($categoryImage= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'image'))
				#set($categoryThumb= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'thumbimage'))
				#set($categoryName= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'name'))
				#set($category= $pageTile.getItemObject($childCategoriesDTO, $childCategoriesDTO.getItems(), "c"))
		#if($CookiesDTO && $CookiesDTO.getCookieValue('preferences'))
			#if($CookiesDTO.getCookieValue('preferences')=="grid")
				#set($itemViewClass= "grid")
			#else
				#set($itemViewClass= "list")
			#end
		#else
			#set($itemViewClass= "grid")
		#end

		#*********************************************
		* The following block of code is used together with the
		* redirect to item option in category properties
		* this should automatically redirect the category to
		* the single item in that category.
		*********************************************#
		#set($category1= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'c'))
		#set($childItemsViewDTO = $multiPageViews.get("childItemsDTO"))
		
		#if($category1.autoview==1 && $childItemsViewDTO.itemsCount==1)
		    #foreach($itemIter in $childItemsDTO.getItems())
		        #set($childItem = $pageTile.getItemObject($childItemsDTO, $itemIter, "i"))
		    #end
		    $response.sendRedirect($seourl.encodeURL("store.html?cid=$catid&vid=$vendorSettingsDTO.vendorId&iid=$childItem.itemid"))
		#end

		<title>$!pagetitle</title>
		<base href="$baselink"/>
		<meta name="description" content="#if($metadescription!="") $metadescription #else   #end" />
		<meta name="keywords" content="#if($metakeywords!="")$metakeywords #else   #end" />
	    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_css.vm")
		<link rel="stylesheet" type="text/css" media="all" href="assets/commercelib/commerce/commerce_shop.css"/>
	</head> <!-- category_template-->

	<body>

		<div class="row">
			#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/header.vm")
			#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/nav_primary.vm")
		</div>

		<div class="row">
			<h2 class="categoryTitle">$categoryName</h2>
			#if($childCategoriesDTO.getItems().size()!=0)
    			#if($categoryName=="ASI Data Feed" || $categoryName=="Promotional Gifts")
	        		#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/categoryT_subcategoryGridList.vm")
		    	#else
			    #if($vendorSettingsDTO.themeId)
			        #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/categoryT_subcategoryGridList_top.vm")
			    #else
			        #parse("/$vendorSettingsDTO.vendorId/categoryT_subcategoryGridList_top.vm")
			    #end
			    #end
			#end
		</div>
		<div class="row">
					#parse($category_ad_topDTO.getItems().get(0).get('category_ad_top'))
		</div>
		<div class="row">
					#parse($category_topDTO.getItems().get(0).get('category_top'))
	    			#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/Cat_Featured_products.vm")
		</div>
		<div class="row">

			#set($itemsDTO = $childItemsDTO)
			#set($subpage = $request.getParameter("mpvp"))

			<!-- Use Cache Mode: $use_cache -->

			#if  ($use_cache)
			    #if ($subpage)
			<!--# include virtual="/store.caches?vid=${vendorSettingsDTO.vendorId}&cid=$catid&ts=inner&ttl=3600&mpv=childItemsDTO&mpvp=$subpage" wait="yes" -->
			    #else
			<!--# include virtual="/store.caches?vid=${vendorSettingsDTO.vendorId}&cid=$catid&ts=inner&ttl=3600" wait="yes" -->
			#end
			#else
			    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/itemList.vm")
			#end

		</div> <!-- end Row -->

#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/footer.vm")
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_js.vm")
	</body>
</html>