<div id="footer">
	<p>
		Copyright 2015 Boliy USA.  All rights reserved. <a title="Question, comments, or concerns? E-mail Boliy today!" href="mailto:boliyusasales@gmail.com?Subject=Boliy Generator Inquiry">E-Mail Boliy</a> Toll Free:  877-407-1457
	</p>
</div>