<div class="row">
	<img src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/images/qblue_logo_small.jpg" alt="boliy logo" width="138" height="53" />
</div>	
<div class="row">
	<head class="large-12 columns">
		<h2> Boliy&trade; USA - The Exclusive
		<br/>
		Distributor of <b>Q</b>Blue&trade;. </h2>
	</head>
</div>