<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/geolocation.vm")
		#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_header.vm")

		#set($metadescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metadescription'))
		#set($metakeywords= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metakeywords'))
		#set($pagetitle= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'pagetitle'))

		<base href="$baselink"/>
		<title>$!pagetitle</title>
		<meta name="description" content="#if($metadescription!="") $metadescription #else   #end" />
		<meta name="keywords" content="#if($metakeywords!="")$metakeywords #else   #end" />
		#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_css.vm")
	</head>

	<body>
		<div class="row">
			<input id="js-vid" type="hidden" value="$vendorSettingsDTO.vendorId">

			#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/header.vm")
			#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/nav_primary.vm")
		</div>

		<div class="row">
			<div class="large-12 columns">
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/contnet_home_primary.vm")
					<div class="large-8 columns">
#parse($home_leftDTO.getItems().get(0).get('home_left'))
					</div>
					<div class="large-4 columns">
#parse($home_rightDTO.getItems().get(0).get('home_right'))
					</div>
			</div> <!--end 12 -->
		</div> <!-- end row -->
	
				#if($home_bottomDTO.getItems().size() >0 )
		<div class="row">
					#parse($home_bottomDTO.getItems().get(0).get('home_bottom'))
		</div>
				#end
	
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/footer.vm")
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_js.vm")
	</body>
</html>