## The following variables is needed to define the DTO in the pagination

<!-- Start item listing -->
#if($itemsDTO.getItems().size() > 0)
	<div class="listing $!itemViewClass">

#foreach($itemIter in $itemsDTO.getItems())
  #set($item = $pageTile.getItemObject($itemsDTO, $itemIter, "i"))
  #set($price = $item.itemPrice)
    
  #foreach($itemRev in $itemReviewDTO.getItems())
    #set($itemreview = $pageTile.getItemObject($itemReviewDTO, $itemRev, "i"))
    #if($itemreview.itemid == $item.itemid)
           <!-- you can get the star rating here-->
    #end
  #end
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/product.vm")
#end
	</div>
<!-- End item listing -->

#else
	<h3>Sorry no items can be found.</h3>
#end