<nav class="top=bar" data-topbar role="navitation">
	<ul class="title-area">
		<li class="name">
			<h1><b>Q</b>Blue&trade;</h1>
		</li>
	    <li class="toggle-topbar menu-icon">
	    	<a href="#"><span>Menu</span></a>
	    </li>
	</ul>	

	<section class="top-bar-section">
		<ul class="right">
			<li class="active"> <a href="#"> Link </a></li>
			<li class="has-dropdown"> <a href="#"> Link </a>
				<ul class="dropdown">
					<li> <a href="#"> Link </a></li>
					<li> <a href="#"> Link </a></li>
				</ul>
			</li>
		</ul> <!-- end rnav -->

		<ul class="left">
			<li> <a href="#"> Link </a></li>
		</ul> <!-- end lnav -->
	</section>
</nav>

<!-- TODO
	Create navigation DTOs to pickup all categoris and sub categories
	Make the navidation Dynamic to allow for adding an removng pages 
	and content.
-->	 


<div id="menu-post">
  <div id="menu-post-inside">
    <div id="menu">
      
    <ul id="navigation-1">
      	<li> <a href="" alt=""> Home</a></li>
      	<li> <a href="products/" alt="The Boliy Generator Product Family"> Products</a>
      		<ul class="navigation-2">
      			<li> <a href="$seourl.encodeURL("storeitem.html?vid=$vendorSettingsDTO.vendorId&iid=330013")" 
                                   alt="Electric Remote Start"> QBlue SI/ER</a></li>
      			<li> <a href="$seourl.encodeURL("storeitem.html?vid=$vendorSettingsDTO.vendorId&iid=330012")" 
                                   alt="Electric  Start Generator"> QBlue SI/E </a></li>
      			<li> <a href="$seourl.encodeURL("storeitem.html?vid=$vendorSettingsDTO.vendorId&iid=330011")" 
                                   alt="Pull Start Generator"> QBlue SI</a></li>
      			<li> <a href="$seourl.encodeURL("storeitem.html?vid=$vendorSettingsDTO.vendorId&iid=330032")" 
                                   alt=""> Boliy Generator Cover</a></li>
      			<li> <a href="$seourl.encodeURL("storeitem.html?vid=$vendorSettingsDTO.vendorId&iid=330031")" 
                                   alt="Boliy Generator Point of Purchase Displays"> Boliy Display</a></li>
      		</ul>
      	</li>
      	<li> <a href="why-qblue/" alt="Why choose the the QBlue Generator"> Why QBlue&trade;</a>
      		<ul class="navigation-2">
                        <li> <a href="why-qblue/history/"
                                   alt="The generator histroy"> History </a>
      			<li> <a href="why-qblue/applications/" 
                                   alt="Boliy Geberator Applications"> Applications</a></li>
      			<li> <a href="why-qblue/decibel-comparison/" 
                                   alt="Compaure the Boliy Decibel Rating"> Decibel Comparison</a></li>
      			<li> <a href="why-qblue/power-comparison/" 
                                   alt="How Boilw Compairs on Power"> Power Comparison</a></li>
      		</ul>
      	</li>
      	<li> <a href="" alt=""> Product Support</a>
      		<ul class="navigation-2">
      			<li> <a href="product-support/dealer-inquires/" 
                                    alt="Inquire for Dealer Opportunities"> Dealer Inquiries</a></li>
      			<li> <a href="product-support/faq/" 
                                   alt="Frequently Asked Questions"> FAQ</a></li>
      			<li> <a href="product-support/manuals/" 
                                   alt="Boliy User Manuals and Downloads"> PDF Manuals</a></li>
      			<li> <a href="product-support/replacement-parts/" 
                                   alt="Get Replacement Parts for your Generator"> Replacement Parts</a></li>
      			<li> <a href="product-support/warranty/" 
                                   alt="Boliy Warranty Information"> Warranty</a></li>
      		<!-- <li> Warranty Form</li> -->
      		</ul>
      	</li>
      	<li> <a href="where-to-buy/" alt="where to buy a generator"> Where To Buy</a>
      		<ul class="navigation-2">
      			<li> <a href="where-to-buy/service/" alt="Boliy Service Information"> Service</a></li>
      		</ul>
      	</li>
	</ul>

	</div>
  </div>
</div>