
<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><b>Q</b>Blue&trade;</h1>
		</li>
	    <li class="toggle-topbar menu-icon">
	    	<a href="#"><span>Menu</span></a>
	    </li>
	</ul>	

	<section class="top-bar-section">
		<ul class="left">
#foreach($temp in $boliyNavDTO.items)
    #set($catid = $pageTile.getItemObject($boliyNavDTO, $temp, "c"))
		<li data-cid="${catid.categoryid}" class="has-dropdown">
			<a href="$seourl.encodeURL("store.html?vid=$vendorSettingsDTO.vendorId&cid=${catid.categoryid}")"
				alt="$catid.description"> $catid.name</a>  <ul></ul></li>
#end
	</ul>
			</li>
<!--			<li class="has-dropdown"> <a href="#"> Link </a>
				<ul class="dropdown">
					<li> <a href="#"> Link </a></li>
					<li> <a href="#"> Link </a></li>
				</ul> -->
			</li>
		</ul> <!-- end rnav -->

		<ul class="right">
			<li> <a class="button" href="service/"> Service </a></li>
		</ul> <!-- end lnav -->
	</section>
</nav>